version:                          '3'
services:
    mysql:
        environment:
            MYSQL_ROOT_PASSWORD:  root
            MYSQL_DATABASE:       db
            MYSQL_USER:           user
            MYSQL_PASSWORD:       pass

    php:
        environment:
          - maildev_host=sf4_maildev

    blackfire:
        environment:
          BLACKFIRE_SERVER_ID:    xxxxxxxxxx
          BLACKFIRE_SERVER_TOKEN: xxxxxxxxxx
